@import "tailwindcss";
@theme {
    --color-background: #213b4e;
    --color-primary: #fe7c2b;
    --color-white-faded: rgba(255, 255, 255, 0.8);
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDownFadeIn 0.5s cubic-bezier(0.4,0,0.2,1);
}

.popupInfo {
  clip-path: path("M 0 0 Q 50% 65% 100% 0 L 100% 100% L 0 100% Z");
  -webkit-clip-path: path("M 0 0 Q 50% 65% 100% 0 L 100% 100% L 0 100% Z");
}